@import url("./common/fonts.css");

@import url("./home/navbar.css");
@import url("./home/introduction.css");
@import url("./home/features.css");
@import url("./home/template.css");
@import url("./home/custom.css");
@import url("./home/personal.css");
@import url("./home/account.css");
@import url("./home/comments.css");
@import url("./home/inspired.css");
@import url("./home/footer.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right top, #000d20, #0b091d, #000d20);
  position: relative;
  z-index: -2;
}
