@import url("./common/fonts.css");

@import url("./todo/navbar.css");
@import url("./todo/settings.css");
@import url("./todo/controller.css");

@import url("./todo/list.css");
@import url("./todo/task.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right top, #000d20, #0b091d, #000d20);
  position: relative;
  z-index: -2;
}
