/*-------------------------------------------------------*/
/*------------------- SETTINGS STYLES -------------------*/
/*-------------------------------------------------------*/

#settings {
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-content: center;
  display: grid;
  gap: 2rem 0;
}

.settings-divider {
  border-bottom: 2px solid #ffffff08;
  grid-column: span 2;
  border-right: none;
  border-left: none;
  border-top: none;
}

/*-------------------------------------------*/
/*------------- SETTINGS HEADER -------------*/
/*-------------------------------------------*/

.settings-header {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  display: grid;
}

.settings-header-title {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #a0a0a0;
  font-size: 2rem;
}

/*-----------------------------------------*/
/*------------- DELETE BUTTON -------------*/
/*-----------------------------------------*/

.settings-delete-button {
  transition: background-color 450ms, translate 250ms, box-shadow 250ms;
  background-color: transparent;
  border: 2px solid #ff000080;
  box-shadow: 4px 4px #000;
  padding: 0.45rem 1.25rem;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  cursor: pointer;
  display: grid;
  gap: 0.65rem;
}

.settings-delete-button-image {
  transition: opacity 450ms;
  opacity: 0.5;
  width: 30px;
}

.settings-delete-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 450ms;
  color: #ffffff80;
  font-size: 1.25rem;
  font-weight: 300;
}

/*---------------------------------------------*/
/*---------------- TRANSITIONS ----------------*/
/*---------------------------------------------*/

.settings-delete-button:hover {
  background-color: #ff000015;
}

.settings-delete-button:focus {
  translate: 0 2.5px;
  box-shadow: 0 0;
}

.settings-delete-button:hover .settings-delete-button-image {
  opacity: 1;
}

.settings-delete-button:hover .settings-delete-button-text {
  color: #fff;
}

/*------------------------------------------------*/
/*------------------ END OF CSS ------------------*/
/*------------------------------------------------*/
