/*---------------------------------------------------*/
/*------------------- TASK STYLES -------------------*/
/*---------------------------------------------------*/

.task {
  grid-template-columns: auto;
  justify-content: stretch;
  position: relative;
  border-radius: 5px;
  display: grid;
}

.task-divider {
  border-top: 2px solid #ffffff08;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

/*----------------------------------------------*/
/*------------ TASK PRIMARY DETAILS ------------*/
/*----------------------------------------------*/

.task-primary-details {
  padding: 1rem 0.8rem 0.45rem 0.8rem;
  border: 2px solid #ffffff10;
  grid-template-columns: auto;
  box-shadow: 4px 4px #000;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.task-header {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 2rem;
}

.task-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: default;
  color: #fff;
}

.task-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #a0a0a0;
  cursor: default;
}

/*----------------------------------------------*/
/*----------- TASK SECONDARY DETAILS -----------*/
/*----------------------------------------------*/

.task.task.progress .task-secondary-details,
.task.task.completed .task-secondary-details {
  grid-template-columns: auto;
  align-items: center;
  display: grid;
}

.task.progress .task-secondary-details {
  justify-content: left;
}

.task.completed .task-secondary-details {
  grid-template-columns: auto;
  justify-content: right;
}

.task-date {
  font-family: "Poppins", sans-serif;
  margin-top: 0.65rem;
  font-weight: 300;
  color: #a0a0a0;
  font-size: 1rem;
  cursor: default;
}

/*---------------------------------------------*/
/*----------- TASK PRIORITY DETAILS -----------*/
/*---------------------------------------------*/

.task::after,
.task::before {
  box-shadow: 2.5px 2.5px #000;
  border-radius: 40px;
  height: 100%;
  content: "";
  width: 5px;
}

.task.progress.high::before,
.task.completed.high::after {
  background-color: #ff0000a8;
  position: absolute;
}

.task.progress.medium::before,
.task.completed.medium::after {
  background-color: #0026ffa8;
  position: absolute;
}

.task.progress.low::before,
.task.completed.low::after {
  background-color: #48ff00a8;
  position: absolute;
}

.task.progress.task.high::before,
.task.progress.task.task.medium::before,
.task.progress.task.task.task.low::before {
  left: -15px;
}

.task.completed.task.high::after,
.task.completed.task.task.medium::after,
.task.completed.task.task.task.low::after {
  right: -15px;
}

/*---------------------------------------------*/
/*-------------- TASK CONTROLLER --------------*/
/*---------------------------------------------*/

.task-controller {
  grid-template-columns: repeat(2, auto);
  border-left: 2px solid #ffffff10;
  justify-content: right;
  align-items: center;
  padding-left: 1rem;
  display: grid;
  gap: 0.65rem;
}

.task-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.task-button-image {
  transition: opacity 450ms, scale 450ms;
  filter: drop-shadow(2.5px 2.5px);
  opacity: 0.65;
  width: 35px;
}

/*-----------------------------------------------*/
/*----------------- TRANSITIONS -----------------*/
/*-----------------------------------------------*/

.task-button:hover .task-button-image {
  scale: 1.125;
  opacity: 1;
}

.task-button:focus .task-button-image {
  scale: 0.9;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
