<h1 class="account-section-title">PRODUCTIVITY AWAITS YOU</h1>

<article class="account-carousel">
  <article class="account-slide">
    <%- include("./account/form.ejs", { type: "create" }) %>
  </article>

  <article class="account-slide">
    <%- include("./account/form.ejs", { type: "login" }) %>
  </article>
</article>
