<h1 class="custom-section-title">CREATE AND CUSTOMIZE YOUR OWN</h1>

<article class="custom-features-container">
  <% custom.forEach((custom) => { %>
  <div class="custom-feature">
    <img class="custom-feature-image" src="<%= custom.image %>" />

    <div class="custom-feature-text-container">
      <h2 class="custom-feature-title"><%= custom.title %></h2>
      <p class="custom-feature-description"><%= custom.description %></p>
    </div>
  </div>
  <% }) %>
</article>
