<h1 class="features-section-title">FEATURES THAT DEFINE US</h1>

<article class="features-options-container">
  <div class="features-option">
    <img class="features-option-image" src="/home/features/design.png" />
    <h3 class="features-option-text">Design</h3>
  </div>

  <div class="features-option">
    <img class="features-option-image" src="/home/features/security.png" />
    <h3 class="features-option-text">Security</h3>
  </div>

  <div class="features-option">
    <img class="features-option-image" src="/home/features/customize.png" />
    <h3 class="features-option-text">Customize</h3>
  </div>
</article>

<article class="features-points-container">
  <div class="features-point">
    <img class="features-point-image" src="/home/features/1.png" />

    <div class="features-text-container">
      <h3 class="features-point-title">Clean & Elegant</h3>

      <p class="features-point-description">
        Distractions lead to unproductivity and prevents you from getting work
        done. Thus, we have designed our interface with simplicity so you wont
        have to worry about any distractions.
      </p>
    </div>
  </div>

  <div class="features-point">
    <img class="features-point-image" src="/home/features/2.png" />

    <div class="features-text-container">
      <h3 class="features-point-title">Quick & Easy</h3>

      <p class="features-point-description">
        Our main aim when developing this platform was to make it hassle free.
        Simply create your account and dive straight into creating, managing and
        completing your tasks to success.
      </p>
    </div>
  </div>

  <div class="features-point">
    <img class="features-point-image" src="/home/features/3.png" />

    <div class="features-text-container">
      <h3 class="features-point-title">Details To Perfection</h3>

      <p class="features-point-description">
        Every list is perfected with rich features to help you monitor your
        tasks every step of the way. Monitor and keep track of your overall
        progress so you can reach the finish line on time.
      </p>
    </div>
  </div>
</article>
