<article class="inspired-container">
  <% inspired.forEach((inspire) => { %>
  <a class="inspired-link" target="_blank" href="<%= inspire.URL %>">
    <img class="inspired-link-image" src="<%= inspire.image %>" />
  </a>
  <% }) %>
</article>
