<div class="intro-information-container">
  <article class="intro-text-container">
    <h1 class="intro-title">TASK MANAGEMENT</h1>

    <h4 class="intro-description">
      An organization tool with a beautiful and modern user-interface. Induced
      with industry rich features, you can easily create, organize and manage
      your tasks.
    </h4>
  </article>

  <article class="intro-links-container">
    <a class="intro-link primary" href="/todo/collection">
      <img class="intro-link-image" src="/buttons/personal.png" />
      <p class="intro-link-text">My Collection</p>
    </a>

    <a class="intro-link secondary" href="#templates-section">
      <p class="intro-link-text">Explore Types</p>
      <img class="intro-link-image" src="/buttons/arrow.png" />
    </a>
  </article>
</div>

<img class="intro-image" src="/home/introduction/todo.png" />
