/*-------------------------------------------------------------*/
/*---------------------- INSPIRED STYLES ----------------------*/
/*-------------------------------------------------------------*/

#inspired-section {
  box-shadow: 0 5px 10px, 0 -5px 10px;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 6rem 0;
  display: grid;
  gap: 4rem;
}

#inspired-section::before {
  background-image: linear-gradient(45deg, #2f0d65 40%, #510d37 60%);
  position: absolute;
  height: 1rem;
  width: 100%;
  content: "";
  z-index: -1;
  top: 0;
}

#inspired-section::after {
  background-image: linear-gradient(45deg, #510d37 40%, #2f0d65 60%);
  position: absolute;
  height: 1rem;
  width: 100%;
  content: "";
  z-index: -1;
  bottom: 0;
}

/*-------------------------------------------*/
/*---------------- CONTAINER ----------------*/
/*-------------------------------------------*/

.inspired-container {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 5rem;
}

.inspired-link-image {
  filter: drop-shadow(2.5px 2.5px 2.5px #000);
  transition: translate 450ms;
}

.inspired-link:nth-of-type(1) .inspired-link-image {
  width: 200px;
}

.inspired-link:nth-of-type(2) .inspired-link-image {
  width: 80px;
}

.inspired-link:nth-of-type(3) .inspired-link-image,
.inspired-link:nth-of-type(4) .inspired-link-image {
  width: 250px;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.inspired-link-image:hover {
  translate: 0 -10px;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
